body{
    overflow-x: hidden;
}
.custom-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: small;
    font-weight: bold;
    color: white;
  }
  .nunito-custom {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700; 
  font-style: normal;
font-size: 14px;
}

