
.all-container {
    color: #212529; 
  }
  .food-list-container {
    color: #212529;
  }
  .custom-font {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    letter-spacing: 2px;
    font-size: small;
    font-weight: bold;
    color: white;
  }
  .nunito-custom {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
  }
  .menu-item .item-name {
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: whitesmoke;
  }
  .menu-item .item-price {
    font-size: 0.8rem;
    font-weight: 600;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .menu-item .item-description {
    font-size: 0.875rem;
    color: #6c757d;
  }
  .menu-item .dotted-line {
    border-bottom: 1px dashed #6c757d;
    margin: 15px 0;
    /* width: 500px; */
  }

 

.modal-body img {
    max-width: 100%;
    height: auto;
}






/* Extra Small Devices: less than 576px */
@media (max-width: 575.98px) {
  /* Styles for xs devices */
  body{
    overflow-x: hidden;
}
.pro-1{
  background-color: rgb(38, 157, 42);
}
}

/* Small Devices: 576px and up */
@media (min-width: 576px) and (max-width: 767.98px) {
  /* Styles for sm devices */
  body{
    overflow-x: hidden;
}
.pro-1{
  background-color: rgb(41, 26, 203);
}

}

/* Medium Devices: 768px and up */
@media (min-width: 768px) and (max-width: 991.98px) {
  /* Styles for md devices */
  body{
    overflow-x: hidden;
}
.pro-1{
  background-color: rgb(160, 56, 56);
}
}

/* Large Devices: 992px and up */
@media (min-width: 992px) {
  /* Styles for lg devices */
  body{
    overflow-x: hidden;
}
.pro-1{
  background-color: black;
}
}
